<label>Server</label>
<!-- <input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"> -->

<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName">

<input 
    type="text" 
    class="form-control"
    [(ngModel)]="userName">

<p>{{ userName }}</p>

<button 
    class="btn btn-primary"
    [disabled]="userName === ''"
    (click)="onUserReset()">
    Reset User
</button>

    <!-- <p>{{ serverName }}</p> -->
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"    
>
    
    Add server
</button>

<p>{{ serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>
